@import "../../App.scss";

nav{
    display: flex;
    justify-content: space-around;
    background-color: $black;
    padding: 30px 0px;
    .logo{
        p{
            display: flex;
            align-items: baseline;
            font-weight: 700;
            font-size: 2em;
            cursor: pointer;
            color: $white;
            letter-spacing: -3px;
            &:hover{
                color: $orange;
            }    
        }
    }
    .navMenu{
        display: flex;
        gap: 50px;
        align-items: center;
        .Option{
            font-size: 1em;
            cursor: pointer;
            color: $white;
            background-color: $black;
            &:hover{
                color: $orange;
            }
        }
        .ActiveOption{
            color: $orange;
        }
    }
}

